*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: #eee ;
    padding: 10px 0;
    
}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#task-list, #add-tasks, #tabbed-content{
    margin: 30px;
}

#task-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#task-list li{
    align-items: center;
    display: flex;
    padding: 10px;
    border-left: 2px solid #ddd;
    margin: 10px 10px;
}

#task-list li:hover{
    border-color: rgb(25, 131, 4);
}

.name {
    flex: 1;
    padding-left: 10px;
}

.dateTime {
    padding-right: 20px;
    margin: 0 10px;
}

.delete{
    float: right;
    background: #c10d0d;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #de4545;
}

#add-tasks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-tasks input{
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    width: 50vw;
}

#add-tasks button{
    border: none;
    background: rgb(25, 131, 4);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: white;
}
#add-task button:hover{
    background-color: rgb(33, 152, 9);
}
#add-task button:active {
    background-color: rgb(25, 113, 8);
}

/* #add-tasks:after{
    content: '';
    display: block;
    clear: both;
} */